       <!-- SLIDE SHOW -->
       <div class="container">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            
            <div class="carousel-item">
              <img src="public/img/slider1.jpg" style="height: 447px;" class="d-block w-100 bg-black" alt="...">
            </div>
            <div class="carousel-item">
              <img src="public/img/slider2.jpg" style="height: 447px;" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item active">
              <img src="public/img/slider3.jpg" style="height: 447px;"class="d-block w-100" alt="...">
            </div>
            
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
<!-- END SLIDE SHOW -->

<!-- IMAGE -->
        <div class="row pt-3">
          <div class="col-3">
               <img src="public/img/slider1.jpg" style="height: 170px;" class="card-img" alt="Product 2">
          </div>
          <div class="col-6">
               <img src="public/img/slider3.jpg"style="height: 170px;"  class="card-img" alt="Product 2">
          </div>
          <div class="col-3">
            <img src="public/img/slider2.jpg" style="height: 170px;" class="card-img" alt="Product 2">
          </div>
        </div>
   <!-- END IMAGE -->


      <!-- Featured-->
<div class="container-fluid pt-5">
  <div class="row px-xl-5 pb-3">
      <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
          <div class="text-center bg-light" style="padding: 30px;">
              <h1 class="fa fa-check text-warning"></i></h1>
              <h5 class="font-weight-semi-bold m-0">Chất lượng</h5>
          </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
          <div class="text-center bg-light" style="padding: 30px;">
              <h1 class="fa fa-shipping-fast text-warning"></h1>
              <h5 class="font-weight-semi-bold m-0">Ship</h5>
          </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
          <div class="text-center bg-light" style="padding: 30px;">
              <h1 class="fas fa-exchange-alt text-warning"></h1>
              <h5 class="font-weight-semi-bold m-0">Đánh giá</h5>
          </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
          <div class="text-center bg-light" style="padding: 30px;">
              <h1 class="fa fa-phone-volume text-warning"></h1>
              <h5 class="font-weight-semi-bold m-0">Hổ trợ 24/7</h5>
          </div>
      </div>
  </div>
</div>
<!-- Featured End -->

<!-- Categories Start -->
<h2 style="font-weight: bold;color:#708090;">DANH MỤC<hr></h2>
<div class="container-fluid pt-5">
  <div class="row px-xl-5 pb-3">
      <div class="col-lg-4 col-md-4 col-sm-6 pb-1">
          <a class="text-decoration-none" href="">
              <div class="cat-item d-flex align-items-center mb-4 bg-light">
                  <div class="overflow-hidden" style="width: 100px; height: 100px;">
                      <img class="img-fluid" src="public/img/p1-re.png" alt="">
                  </div>
                  <div class="ps-3">
                      <h6>Cà phê pha phin</h6>
                      <small class="text-body">25 sản phẩm</small>
                  </div>
              </div>
          </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 pb-1">
        <a class="text-decoration-none" href="">
            <div class="cat-item d-flex align-items-center mb-4 bg-light">
                <div class="overflow-hidden" style="width: 100px; height: 100px;">
                    <img class="img-fluid" src="public/img/p2.png" alt="">
                </div>
                <div class="ps-3">
                    <h6>Cà phê giấy</h6>
                    <small class="text-body">25 sản phẩm</small>
                </div>
            </div>
        </a>
    </div>   <div class="col-lg-4 col-md-4 col-sm-6 pb-1">
    <a class="text-decoration-none" href="">
        <div class="cat-item d-flex align-items-center mb-4 bg-light ">
            <div class="overflow-hidden" style="width: 100px; height: 100px;">
                <img class="img-fluid" src="public/img/p7-re.png" alt="">
            </div>
            <div class="ps-3">
                <h6>Cà phê hòa tan</h6>
                <small class="text-body">25 sản phẩm</small>
            </div>
        </div>
    </a>
</div>
              
  </div>
</div>
<!-- Categories End -->
<!--   PRODUCTS -->
<!-- <h2 style="font-weight: bold;color:#708090;">SẢN PHẨM NỔI BẬT<hr></h2>
<div class="row">
  <div class="col-md-3 p-3">
    <div class="card">
      <img src="public/img/Gourmet-Blend-final-300x300.png" class="card-img-top" alt="Product 1">
      <div class="card-body">
        <h5 class="card-title">Sản phẩm 1</h5>
        <p class="card-text">Mô tả sản phẩm 1</p>
        <a href="#" class="btn btn-primary">Thêm vào giỏ hàng</a>
      </div>
    </div>
  </div>
  <div class="col-md-3 p-3">
    <div class="card">
      <img src="public/img/Gourmet-Blend-final-300x300.png" class="card-img-top" alt="Product 2">
      <div class="card-body">
        <h5 class="card-title">Sản phẩm 1</h5>
        <p class="card-text">Mô tả sản phẩm 1</p>
        <a href="#" class="btn btn-primary">Thêm vào giỏ hàng</a>
      </div>
    </div>
  </div>
  <div class="col-md-3 p-3">
    <div class="card">
      <img src="public/img/Gourmet-Blend-final-300x300.png" class="card-img-top" alt="Product 3">
      <div class="card-body">
        <h5 class="card-title">Sản phẩm 1</h5>
        <p class="card-text">Mô tả sản phẩm 1</p>
        <a href="#" class="btn btn-primary">Thêm vào giỏ hàng</a>
      </div>
    </div>
  </div>
  <div class="col-md-3 p-3">
    <div class="card">
      <img src="public/img/Gourmet-Blend-final-300x300.png" class="card-img-top" alt="Product 4">
      <div class="card-body">
        <h5 class="card-title">Sản phẩm 2</h5>
        <p class="card-text">Mô tả sản phẩm 2</p>
        <a href="#" class="btn btn-primary">Thêm vào giỏ hàng</a>
      </div>
    </div>
  </div> 
</div> -->
<!--  END PRODUCTS -->

<!-- SAN PHAM -->
<h2 style="font-weight: bold;color:#708090;">SẢN PHẨM<hr></h2>
<!-- <button class="btn btn-primary" ng-click="order='price'">Giá tăng</button>
<button class="btn btn-primary" ng-click="order='-price'">Giá giảm</button>
<br>
<input type="text" class="form-control" ng-model="keyword" ng-model-options="{debounce:500}">
<br> -->
<div class="row">
  <div class="row mb-4">
    <div class="col-md-6">
      <div class="dropdown" >
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
         Lọc theo giá
        </button>
        <ul class="dropdown-menu">
          <li> <button type="button" style="width: 150px;" class="btn"  ng-click="order='price'">Giá tăng</button></li>
          <li> <button type="button" style="width: 150px;" class="btn" ng-click="order='-price'">Giá giảm</button></li>
        </ul>
      </div>
    </div>
    <div class="col-md-6">
      <div class="input-group">
        <input type="text" class="form-control" ng-model="keyword" ng-model-options="{debounce:1000}" placeholder="Tìm kiếm sản phẩm">
        <button class="btn btn-primary" type="button">Tìm kiếm</button>
      </div>
    </div>
    
    <div class="col-3 pt-3" ng-repeat="sp in dssp | orderBy:order | search:keyword:['price','name'] | limitTo:limit:begin">
              <div class="card">
                <img src="public/img/{{sp.image}}" class="card-img-top" style="height: 300px;" alt="Product 1">
                <div class="card-body text-center">
                  <h5 class="card-title"><a href="#!detail/{{sp.id}}" style="text-decoration: none; color: #470c0c;"><strong>{{sp.name}}</strong></a></h5>
                  <p class="card-text">{{sp.price|number:0}}đ</p>                      
                  <button class="btn btn-outline-dark btn-square" data-bs-toggle="modal" data-bs-target="#exampleModal" ng-click="showsp(sp)"><i class="fa-solid fa-magnifying-glass"></i></button>
                  <button class="btn btn-outline-dark btn-square" ng-click="mua(sp)">Mua</button>
                  
                </div>
              </div>
            </div>
            
          </div>
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              <li class="page-item"><button ng-click="chuyentrang(page-1)" class="page-link  {{(page==1)?'disabled':''}}" href="#">Previous</button></li>
              <li ng-repeat="trang in pageList()" class="page-item"><button ng-click="chuyentrang(trang)" class="page-link {{(page==trang)?'active':''}}" href="#">{{trang}}</button></li>
              
              <li class="page-item"><button ng-click="chuyentrang(page+1)" class="page-link {{(page==totalPage())?'disabled':''}}" href="#">Next</button></li>
            </ul>
          </nav>   
        </div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content p-3">
      <div class="modal-header border-0">
        <h1 class="modal-title fs-3" id="exampleModalLabel">{{sanpham.name}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       {{sanpham.info}}
      </div>


    </div>
  </div>
</div>