<br><br>
    <div class="min-h-100 p-0 p-sm-6 d-flex align-items-stretch mt-5 mb-5">
        <div class="card w-25x flex-grow-1 flex-sm-grow-0 m-sm-auto">
            <form ng-submit="register()">
            <div class="card-body pt-5 pb-0 ps-5 pe-5  flex-grow-0">
                <h1 class="mb-0 fs-3 fw-bolder">Đăng ký</h1>
                <div class="fs-exact-14 text-muted mt-2 pt-1 mb-2 pb-2">Điền vào biểu mẫu để tạo một tài khoản mới.</div>
                <div class="mb-4">
                    <label for="Tendn" class="form-label">Tên đăng nhập</label>
                    <input type="text" class="form-control" id="TenDn"  name="name"
                        ng-model="name" required>
                </div>
                <div class="mb-4">
                    <label for="exampleInputEmail1" class="form-label">Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email"
                        ng-model="email" required>
                </div>
                <div class="mb-4">
                    <label for="password">Mật khẩu:</label>
                    <input type="password" class="form-control"  id="password" name="password" ng-model="password" required>
                  </div>
                  <div class="mb-4">
                    <label for="confirmPassword">Xác nhận lại mật khẩu:</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" ng-model="confirmPassword" required>
                    <span ng-show="!passwordsMatch && confirmPassword.length > 0" style="color: red;">Mật khẩu không khớp.</span>
                  </div>
                <div class="mb-4 row py-2 flex-wrap">
                    <div class="col-auto me-auto">
                        <label class="form-check mb-0">
                            <input type="checkbox" class="form-check-input"/>
                            <span class="form-check-label">Tôi đồng ý với các Điều khoản và Điều kiện .</span>
                        </label>
                    </div>
                    
                </div>
                <div>
                    <button type="submit" class="btn btn-primary btn-lg w-100">Đăng ký</button>
                </div>
            </div>
        </form>
                
         
            <div class="card-body flex-grow-0">
              <div>Tiếp tục với</div>
                <div class="d-flex flex-wrap me-n3 mt-n3">
                    <button type="button" class="btn btn-secondary flex-grow-1 me-3 mt-3"><i class="fa-brands fa-google me-2"></i></i>Google</button>
                    <button type="button" class="btn btn-secondary flex-grow-1 me-3 mt-3"><i class="fa-brands fa-facebook-f me-2"></i>Facebook</button>
                    <button type="button" class="btn btn-secondary flex-grow-1 me-3 mt-3"><i class="fa-brands fa-twitter me-2"></i></i>Twitter</button>
                </div>
                <div class="form-group mb-0 mt-4 pt-2 text-center text-muted">
                    Đã có tài khoản? <a href="#!login">Đăng nhập</a>
                </div>
            </div>
        </div>
    </div>
    